$list-font-family:poppins;
$base-disable-mask-z-index:unset;
$search-font-family:poppins;
$detail-form-button-font-color:#1A73E8;
$primary-font-style:"normal";
$base-box-shadow-display:none;
$detail-form-help-info-bubble-font-color:#6699dc;
$list-body-font-style:normal;
$list-body-font-weight:400;
$primary-color:#1A73E8;
$detail-form-primary-button-border-color:#72767b;
$app-title-color:#3f6ad8;
$detail-button-text-color:#ffff;
$primary-font-family:"poppins";
$list-header-text-color:#ffff;
$detail-form-inner-section-header-font-color:#777;
$header-secondary-color:#72767b;
$detail-form-inner-tab-font-color:#2196f3;
$header-secondary-icon-color:#72767b;
$list-body-text-color:#72767b;
$header-primary-font-size:1rem;
$landing-page-card-title-font-size:1.6rem;
$detail-form-tab-link-color:#1A73E8;
$actionbar-primary-button-border-color:#1A73E8;
$base-disable-mask-position:unset;
$list-checkbox-body-selection-color:#1A73E8;
$error-border-color:#f00;
$app-theme-background-color:#f2f3f7;
$detail-form-inner-tab-background-color:#ffffff;
$list-page-title-color:#72767b;
$detail-form-button-color:#000;
$header-font-family:poppins;
$detail-form-button-background-color:#ffff;
$sidebar-level-color:#e0f3ff;
$header-secondary-icon-font-size:1rem;
$detail-form-section-header-font-color:#1A73E8;
$primary-color-2:#458dec;
$primary-color-3:#76abf0;
$caption-subtitle-font-size:1.2rem;
$sidebar-submenu-icon-color:#1A73E8;
$detail-form-background-color:#ffffff;
$header-primary-icon-color:#3f6ad8;
$landing-page-card-title-font-color:#1A73E8;
$sidebar-float-menu-icon-color:#72767b;
$detail-form-error-border-color:#f00;
$app-title-font-size:1.8rem;
$detail-form-button-hover-background-color:#1a73e887;
$spinner-color:#3f6ad8;
$landing-page-card-button-font-color:#ffffff;
$detail-form-tab-background-color:#ffffff;
$sidebar-submenu-background-color-hover:#e0f3ff;
$list-header-font-weight:500;
$list-row-hover-border-color:#1A73E8;
$form-control-border-radius:0.8rem;
$landing-page-card-button-font-size:1.2rem;
$primary-highlight-color:#3f6ad8;
$form-control-font-size:1.3rem;
$caption-font-color:#ffff;
$search-border-color:#1A73E8;
$landing-page-card-desc-font-color:#9f9f9f;
$search-placeholder-font-size:1.3rem;
$search-placeholder-text-color:#a5a5a5;
$primary-icon-size:2rem;
$primary-font-size:1.5rem;
$sidebar-float-menu-font-size:1.4rem;
$detail-form-error-background-color:#f00;
$button-font-size:1.35rem;
$sidebar-submenu-font-size:1.5rem;
$search-background-color:#ffff;
$list-button-background-color:#ffff;
$detail-form-tab-nav-background-color:#f1f4f6;
$page-title-font-family:poppins;
$search-text-color:#72767b;
$detail-form-section-header-border-color:#1A73E8;
$landing-page-card-desc-font-size:1rem;
$list-header-background-color:#1A73E8;
$detail-form-outer-tab-background-color:#f1f4f6;
$secondary-color:#ffff;
$sidebar-float-submenu-font-color:#72767b;
$list-checkbox--header-selection-color:#ffff;
$caption-title-font-size:1rem;
$white-color:#ffff;
$advanced-search-background-color:#ffff;
$detail-page-title-color:#f8f9fa;
$header-primary-icon-font-size:1.5rem;
$detail-titlebar-background-color:#1A73E8;
$detail-form-primary-button-background-color:#dadce0;
$list-header-font-size:1.3rem;
$detail-form-control-border-radius:0.8rem;
$sort-inactive:#458dec;
$actionbar-default-button-border-color:#1A73E8;
$search-font-size:1.35rem;
$base-disable-mask-height:unset;
$sidebar-background-color:#ffff;
$list-checkbox-body-border-color:#dadce0;
$sidebar-menu-font-color:#1A73E8;
$ternary-color-1:#9f9f9f;
$ternary-color-2:#a5a5a5;
$button-font-family:poppins;
$list-checkbox-body-background-color:#ffff;
$secondary-color-5:#dadce0;
$header-secondary-font-size:1.5rem;
$secondary-color-4:#e8f0fd;
$list-body-font-size:1.2rem;
$detail-form-control-border-color:#e0dfdf;
$secondary-color-3:#f8f9fa;
$list-body-background-color:#ffff;
$sidebar-badge-color:#cc9530f8;
$secondary-color-2:#f4f4f4;
$secondary-color-1:#e6e6e6;
$detail-form-inner-section-header-border-color:#999;
$sidebar-background-color-hover:#e0f3ff;
$sidebar-float-menu-font-color:#72767b;
$sort-active:#ffff;
$base-disable-mask-width:unset;
$sidebar-menu-font-size:1.7rem;
$list-button-text-color:#1A73E8;
$sidebar-submenu-font-color:#1A73E8;
$sidebar-float-submenu-font-size:1.4rem;
$sort-badge-color:#ffff;
$detail-button-background-color:#1A73E8;
$header-background-color:#ffff;
$ternary-color:#72767b;
$detail-form-button-box-shadow-color:#d6d6d6;
$form-control-height:3.2rem;
$scroll-bar-thumb-background-color:#1A73E8;
$actionbar-default-button-background-color:#ffff;
$list-body-hover-background-color:#f6f6f6;
$list-titlebar-background-color:#ffff;
$sidebar-menu-icon-color:#1A73E8;
$landing-page-card-background-color:#ffffff;
$error-bg-color:#f00;
$detail-form-text-color:#72767b;
$primary-form-bg-color:#ffffff;
$detail-form-radio-border-color:#dadce0;
$caption-font-family:poppins;
$ternary-font-size:10px;
$list-checkbox-header-background-color:#1A73E8;
$header-primary-color:#3f6ad8;
$secondary-font-size:1.3rem;
$scroll-bar-track-background-color:#ffff;
$sidebar-float-submenu-icon-color:#72767b;
$list-checkbox--body-selection-color:#1A73E8;
$detail-form-help-text-font-color:#555;
$landing-page-card-button-background-color:#1A73E8;
$list-header-font-style:normal;
$app-title-fontsize:24px;
$page-title-font-size:1.8rem;
$detail-form-control-error-border-color:#f44336;
