:host ::ng-deep {
    width: 100%;
    .link-wrap{
        margin-left: -10px;
        margin-top: -10px;

        .p-button-link{
            background-color: transparent;
            font-weight: 600;
           
            .p-button-label{
                color: #1a73e8;
            }
        }
        .empty-link{
            visibility: hidden;
        }
        .link-edit{
            background-color: transparent;
            border: 0;
        }
    }
    
    .link-edit-wrap{
        display: flex;
        
    
    }
    .col-form-label{width: 100%;}
}