:host ::ng-deep {
    width: 100%;
    .link-wrap{
        margin-left: -10px;
        margin-top: -10px;
        .p-button-link{
            background-color: transparent;
            font-weight: 600;
        }
        .link-edit{
            background-color: transparent;
            border: 0;
        }
    }
    
    .link-edit-wrap{
        display: flex;
        .form-control{
            max-width: 300px;
        }
    
    }
    .col-form-label{width: 100%;}
}