**/target/*
**/*.class
*.class
/.classpath
/BackendApp/.flattened-pom.xml
/BackendApp/.settings
/BackendApp/target
/BackendApp/.classpath
/BackendBase/.flattened-pom.xml
/BackendBase/.settings
/BackendBase/target
/BackendBase/.classpath
/Frontend/.settings
/Frontend/target
/Frontend/.classpath