 <div class="detail tool-design-type-detail">
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'">
</app-workflow-action-bar><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="backupData && formatCaptionItems(captionItem,backupData)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="backupData && formatCaptionItems(captionItem,backupData)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div><div class="ev-detail-view">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container" style="display:none">

        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.toolDesignType">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.toolDesignType?.isRequired, 'error':inValidFields.toolDesignType}">
        <label for="toolDesignType" class="col-form-label toolDesignType-label" [textContent]=" 'TOOL_DESIGN_TYPE'|translate "></label>
        <span class="info-bubble" *ngIf="formFieldConfig?.toolDesignType?.infoBubble"   [pTooltip]="formFieldConfig?.toolDesignType?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text " pInputText class="form-control " id="toolDesignType " formControlName="toolDesignType" [placeholder]="formFieldConfig?.toolDesignType?.placeHolder || ''"/>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.toolDesignType?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.enabled">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.enabled?.isRequired, 'error':inValidFields.enabled}">
        <label for="enabled" class="col-form-label enabled-label d-none" [textContent]="'ENABLED'|translate"></label>
        <p-checkbox class="form-input" formControlName="enabled" label="{{'ENABLED' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="formFieldConfig?.enabled?.infoBubble"   [pTooltip]="formFieldConfig?.enabled?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.enabled?.helpText || ''}}</div>
    </div>
</div>

                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
