	.statusOfTheRequest{
		&.condition-0{
			background-color : #fff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #fff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
		&.condition-2{
			background-color : #fff;
			.conditional{
			    background-color : #1A73E833;
			    color : #1A73E8;
			    text-align : center;
			}
		}
		&.condition-3{
			background-color : #fff;
			.conditional{
			    background-color : #16D3FD33;
			    color : #16D3FD;
			    text-align : center;
			}
		}
		&.condition-4{
			background-color : #fff;
			.conditional{
			    background-color : #00D7A333;
			    color : #00D7A3;
			    text-align : center;
			}
		}
		&.condition-5{
			background-color : #fff;
			.conditional{
			    background-color : #9CD3AB33;
			    color : #9CD3AB;
			    text-align : center;
			}
		}
	}
	.namecode{
		&.condition-0{
			background-color : #fff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #fff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
		&.condition-2{
			background-color : #fff;
			.conditional{
			    background-color : #1A73E833;
			    color : #1A73E8;
			    text-align : center;
			}
		}
	}
	.projectOrActivity{
		&.condition-0{
			background-color : #fff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #fff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
	}
	.functionalNetwork{
		&.condition-0{
			background-color : #fff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #fff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
		&.condition-2{
			background-color : #fff;
			.conditional{
			    background-color : #1A73E833;
			    color : #1A73E8;
			    text-align : center;
			}
		}
	}
	.secondPlaceOfDevelopment{
		&.condition-0{
			background-color : #ffffff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #ffffff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
		&.condition-2{
			background-color : #ffffff;
			.conditional{
			    background-color : #1A73E833;
			    color : #1A73E8;
			    text-align : center;
			}
		}
		&.condition-3{
			background-color : #ffffff;
			.conditional{
			    background-color : #16D3FD33;
			    color : #16D3FD;
			    text-align : center;
			}
		}
		&.condition-4{
			background-color : #ffffff;
			.conditional{
			    background-color : #00D7A333;
			    color : #00D7A3;
			    text-align : center;
			}
		}
	}
	.emcLab{
		&.condition-0{
			background-color : #fff;
			.conditional{
			    background-color : #E544FF33;
			    color : #E544FF;
			    text-align : center;
			}
		}
		&.condition-1{
			background-color : #fff;
			.conditional{
			    background-color : #8220FF33;
			    color : #8220FF;
			    text-align : center;
			}
		}
	}


