 <div class="detail status-detail">
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected">
</app-action-bar><app-workflow-action-bar [buttons] = "workflowActionBarConfig.children"
(onBtnClick)='workflowActionBarAction($event)'
[workflow]="workflowActions"
[style.order]="isMobile?'1':'0'">
</app-workflow-action-bar><ul class="nav  caption-bar" *ngIf="detailCaptionBarConfig" [ngStyle]="{width: detailCaptionBarConfig.width, 'justify-content':detailCaptionBarConfig.align}">
        <li class="nav-item" *ngFor="let captionItem of detailCaptionBarConfig.children" [style.display]="((captionItem.showOn =='mobile_only' && isMobile) || (captionItem.showOn =='desktop_only' && !isMobile) || (captionItem.showOn =='both')||(!captionItem.showOn))?'block':'none'">
            <div class="card" *ngIf="backupData && formatCaptionItems(captionItem,backupData)">
                <div class="card-body">
                   <h5 class="card-title" >{{captionItem.label | translate}}</h5>
                          <div *ngIf="!captionItem.render" class="card-sub-title" [innerHTML]="backupData && formatCaptionItems(captionItem,backupData)">
                         </div>
                    <div *ngIf="captionItem.render" class="card-sub-title">
                        <div [innerHtml]="captionItem.render(captionItem)"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div><div class="ev-detail-view">
    <div class="detail-flex-box">
        <div class="flex align-items-center justify-content-center wizard-container" style="display:none">

        </div>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="detailFormControls" #detailForm [ngClass]="{'read-only-fields':enableReadOnly}">
                <div class="row form-body">
                    <div class="form-row vg-col-1">
                        <div class="form-col" [hidden]="hiddenFields.statusOfTheRequest">
    <div class="field-row"  [ngClass]="{'required': formFieldConfig?.statusOfTheRequest?.isRequired, 'error':inValidFields.statusOfTheRequest}">
        <label for="statusOfTheRequest" class="col-form-label statusOfTheRequest-label" [textContent]="'STATUS_OF_THE_REQUEST'|translate"></label>  
        <span class="info-bubble" *ngIf="formFieldConfig?.statusOfTheRequest?.infoBubble"   [pTooltip]="formFieldConfig?.statusOfTheRequest?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>                      
        <p-dropdown [options]="formFieldConfig['statusOfTheRequest']?.options" formControlName="statusOfTheRequest"  [showClear]="true" optionLabel="value" optionValue="label" [placeholder]="formFieldConfig?.statusOfTheRequest?.placeHolder || 'Select'"  styleClass = "dropdown" appendTo="body">
            <ng-template pTemplate="selectedItem">
                <ng-template #statusOfTheRequestSelectedRef let-conditions="conditions" let-option="option">
                    <div class="selected-item" [ngStyle]="conditions?.cellStyle">
                        <img [src]="conditions?.image" class="img" *ngIf="conditions?.image"/>
                        <span  
                            *ngIf="conditions?.iconClass" class="icon"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass"></i>
                
                        </span>
                        <div class="value" *ngIf="!conditions || (conditions && conditions?.showText)">{{option.value| translate}}</div>
                    </div>
                </ng-template>
                <ng-container *ngIf="detailFormControls.controls.statusOfTheRequest.value; let selected;">
                    <ng-template *ngTemplateOutlet="statusOfTheRequestSelectedRef;context:{conditions :formFieldConfig.statusOfTheRequest?.optionConditions?.[(getSelectedObject(selected,formFieldConfig.statusOfTheRequest?.options)).value], option:(getSelectedObject(selected,formFieldConfig.statusOfTheRequest?.options))}"></ng-template>
                </ng-container>
            </ng-template>
        
            <ng-template let-dropdownItem pTemplate="item" >
                <ng-template #statusOfTheRequestListRef let-conditions="conditions" let-option="option">
                    <div class="select-list-item" [ngStyle]="conditions?.cellStyle">                    
                        <img [src]="conditions?.image" class="list-image" *ngIf="conditions?.image" />
                        <span
                            *ngIf="conditions?.iconClass"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass" ></i>
        
                        </span>
                        <div *ngIf="!conditions || (conditions && conditions?.showText)">{{option.value| translate}}</div>
                    </div>
                </ng-template>
        
                <ng-container>
                    <ng-template *ngTemplateOutlet="statusOfTheRequestListRef;context:{conditions :formFieldConfig.statusOfTheRequest?.optionConditions?.[dropdownItem.value], option:dropdownItem}"></ng-template>
                </ng-container>
            </ng-template>
        </p-dropdown>
        <div class="fst-italic fs-5 help-text">{{formFieldConfig?.statusOfTheRequest?.helpText || ''}}</div>
    </div>
</div>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
</div>
