 <div class="list services-list">
   <div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
        </div>
        <app-action-bar [buttons] = "leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected">
</app-action-bar><app-action-bar [buttons] = "rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
[isRowSelected]="isRowSelected">
</app-action-bar><div class="p-0" id="search-container">
    <div class="col global-search p-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text show-advanced">
<span class="pi pi-search icon-font"></span>

                </span>
            </div>
            <input type="text" class="form-control" pInputText [placeholder]="'Search' | translate"
                (keydown)="onKeydown($event)" [(ngModel)]="filter.globalSearch" />
           <div class="input-group-append ">
                            <span class="input-group-text pi pi-sliders-h icon-font px-3 py-3 cursor-pointer" (click)="toggleAdvancedSearch()" #toggleButton></span>
                        </div>
        </div>
    </div>

    <div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch)" #menu>
        <span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
                     <span style="float:right" class="cursor-pointer"><i class="pi pi-times" (click)="toggleAdvancedSearch()"></i></span>
        <form [formGroup]="tableSearchControls" (ngSubmit)="advancedSearch()" class="ev-form">
    <div class="row form-body">
        <div class="form-row  vg-col-2">
            <div class="form-col" [hidden]="hiddenFields.metier">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.metier?.isRequired, 'error':inValidFields.metier}">
        <label for="metier" class="col-form-label metier-label" [textContent]=" 'METIER'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.metier?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.metier?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text " pInputText class="form-control " id="metier " formControlName="metier" [placeholder]="tableSearchFieldConfig?.metier?.placeHolder || ''"/>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.metier?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.service">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.service?.isRequired, 'error':inValidFields.service}">
        <label for="service" class="col-form-label service-label" [textContent]=" 'SERVICE'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.service?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.service?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text " pInputText class="form-control " id="service " formControlName="service" [placeholder]="tableSearchFieldConfig?.service?.placeHolder || ''"/>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.service?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.enabledLab">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.enabledLab?.isRequired, 'error':inValidFields.enabledLab}">
        <label for="enabledLab" class="col-form-label enabledLab-label d-none" [textContent]="'ENABLED_LAB'|translate"></label>
        <p-checkbox class="form-input" formControlName="enabledLab" label="{{'ENABLED_LAB' | translate}}" binary="true"></p-checkbox>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.enabledLab?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.enabledLab?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.enabledLab?.helpText || ''}}</div>
    </div>
</div>
<div class="form-col" [hidden]="hiddenFields.specificFields">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.specificFields?.isRequired, 'error':inValidFields.specificFields}">
        <label for="specificFields" class="col-form-label specificFields-label" [textContent]="'SPECIFIC_FIELDS'|translate"></label>  
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.specificFields?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.specificFields?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>                      
        <p-dropdown [options]="tableSearchFieldConfig['specificFields']?.options" formControlName="specificFields"  [showClear]="true" optionLabel="value" optionValue="label" [placeholder]="tableSearchFieldConfig?.specificFields?.placeHolder || 'Select'"  styleClass = "dropdown" appendTo="body">
            <ng-template pTemplate="selectedItem">
                <ng-template #specificFieldsSelectedRef let-conditions="conditions" let-option="option">
                    <div class="selected-item" [ngStyle]="conditions?.cellStyle">
                        <img [src]="conditions?.image" class="img" *ngIf="conditions?.image"/>
                        <span  
                            *ngIf="conditions?.iconClass" class="icon"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass"></i>
                
                        </span>
                        <div class="value" *ngIf="!conditions || (conditions && conditions?.showText)">{{option.value| translate}}</div>
                    </div>
                </ng-template>
                <ng-container *ngIf="tableSearchControls.controls.specificFields.value; let selected;">
                    <ng-template *ngTemplateOutlet="specificFieldsSelectedRef;context:{conditions :tableSearchFieldConfig.specificFields?.optionConditions?.[(getSelectedObject(selected,tableSearchFieldConfig.specificFields?.options)).value], option:(getSelectedObject(selected,tableSearchFieldConfig.specificFields?.options))}"></ng-template>
                </ng-container>
            </ng-template>
        
            <ng-template let-dropdownItem pTemplate="item" >
                <ng-template #specificFieldsListRef let-conditions="conditions" let-option="option">
                    <div class="select-list-item" [ngStyle]="conditions?.cellStyle">                    
                        <img [src]="conditions?.image" class="list-image" *ngIf="conditions?.image" />
                        <span
                            *ngIf="conditions?.iconClass"
                            [ngStyle]="conditions?.iconStyle"
                        >
                            <i [ngClass]="conditions?.iconClass" ></i>
        
                        </span>
                        <div *ngIf="!conditions || (conditions && conditions?.showText)">{{option.value| translate}}</div>
                    </div>
                </ng-template>
        
                <ng-container>
                    <ng-template *ngTemplateOutlet="specificFieldsListRef;context:{conditions :tableSearchFieldConfig.specificFields?.optionConditions?.[dropdownItem.value], option:dropdownItem}"></ng-template>
                </ng-container>
            </ng-template>
        </p-dropdown>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.specificFields?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.respScheduler">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.respScheduler?.isRequired, 'error':inValidFields.respScheduler}">
        <label for="respScheduler" class="col-form-label respScheduler-label" [textContent]="'RESP_SCHEDULER'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.respScheduler?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.respScheduler?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.respScheduler?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="respScheduler" 
            [suggestions]="filteredItems" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompleterespScheduler('respScheduler')"             (completeMethod)="autoSuggestSearchrespScheduler($event,tableSearchFieldConfig?.respScheduler)"
            [multiple]="tableSearchFieldConfig?.respScheduler?.multiple" (onHide)="deattachScroll()" [field]="(tableSearchFieldConfig?.respScheduler?.displayField)"
             (onSelect)="onSelect($event,'respScheduler',tableSearchFieldConfig?.respScheduler)" (onUnselect)="unSelect($event,'respScheduler')" appendTo="body">
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.respScheduler?.helpText || ''}}</div>
    </div>
</div><div class="form-col" [hidden]="hiddenFields.respLeader">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.respLeader?.isRequired, 'error':inValidFields.respLeader}">
        <label for="respLeader" class="col-form-label respLeader-label" [textContent]="'RESP_LEADER'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.respLeader?.infoBubble"   [pTooltip]="tableSearchFieldConfig?.respLeader?.infoBubble || ''"><i class="fa fa-circle-info"></i></span>
        <p-autoComplete 
            [placeholder]="tableSearchFieldConfig?.respLeader?.placeHolder || 'Select'"
            class="form-input" 
            formControlName="respLeader" 
            [suggestions]="filteredItems" 
            completeOnFocus="true" [dropdown]="true"
           (onShow)="attachInfiniteScrollForAutoCompleterespLeader('respLeader')"             (completeMethod)="autoSuggestSearchrespLeader($event,tableSearchFieldConfig?.respLeader)"
            [multiple]="tableSearchFieldConfig?.respLeader?.multiple" (onHide)="deattachScroll()" [field]="(tableSearchFieldConfig?.respLeader?.displayField)"
             (onSelect)="onSelect($event,'respLeader',tableSearchFieldConfig?.respLeader)" (onUnselect)="unSelect($event,'respLeader')" appendTo="body">
        </p-autoComplete>
        <div class="fst-italic fs-5 help-text">{{tableSearchFieldConfig?.respLeader?.helpText || ''}}</div>
    </div>
</div>
        </div>
</div>
            <div class="search-actions">
                <div>
                    <button class="btn btn-secondary search-btn" (click)="clearAllFilters()">Clear
                        Filter</button>
                </div>
                <div >
                    <div class="btn-group mr-0" role="group">
                        <button type="button" class="btn btn-secondary search-btn"
                            (click)="toggleAdvancedSearch()">Cancel</button>
                        <button type="submit" class="btn btn-primary  search-btn">Search</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
    </div>
</div><div class="row" id="filter-container" *ngIf="quickFilterConfig?.children?.length > 0">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls">
            <div class="row">
                
            </div>
        </form>
    </div>
</div><div id="table-container" class="viewAs-{{tableConfig.viewAs}}">
    <p-table [value]="gridData" dataKey="sid" [scrollable]="true" [columns]="selectedColumns" scrollHeight="flex"
        rowHover="true" responsive="true" responsiveLayout="scroll"
        [customSort]="(tableConfig.sorting ==='No'?'false':'true')"
        [sortMode]="tableConfig.sorting ==='multiple_column'?'multiple':(tableConfig.sorting ==='single_column')?'single':'none'"
        [selectionMode]="(tableConfig.recordSelection ==='multiple_records')?'multiple':'single'"
        [(selection)]="selectedValues" [resizableColumns]="tableConfig.columnResize"
(onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowSelect($event)" 
        styleClass="table-container-{{tableConfig.tableStyle? tableConfig.tableStyle :'style_1'}}" [columnResizeMode]="tableConfig.resizeMode ==='expand_mode'?'expand':'fit'" >

        <ng-template pTemplate="caption" *ngIf="tableConfig.toggleColumns">
            <p-multiSelect [options]="tableConfig.children" [(ngModel)]="selectedColumns" optionLabel="label"
                selectedItemsLabel="{0} columns selected" [style.minWidth]="'200px'" placeholder="Choose Columns">
            </p-multiSelect>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th scope="col" *ngIf="(tableConfig.recordSelection ==='multiple_records')" [style.maxWidth]="'4rem'"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''"
                    [style.borderBottom]="tableConfig.striped && tableConfig.tableStyle === 'style_2'? '1px solid #e3e5e7':''"
                    pFrozenColumn [frozen]="tableConfig.leftFreezeUptoColumn>0">
                    <p-tableHeaderCheckbox (click)="onRowSelect($event)"></p-tableHeaderCheckbox>
                </th>

                <th [style.maxWidth]="'4rem'" *ngIf="tableConfig.recordSelection ==='single_record_only'"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''"
                    [style.borderBottom]="tableConfig.striped && tableConfig.tableStyle === 'style_2'? '1px solid #e3e5e7':''"
                    pFrozenColumn [frozen]="tableConfig.leftFreezeUptoColumn>0" [alignFrozen]="'left'">
                </th>
                <th *ngIf="tableConfig.rowGroup ==='rowspan_grouping'" [style.maxWidth]="'15rem'" pFrozenColumn
                    [frozen]="tableConfig.leftFreezeUptoColumn>0" [alignFrozen]="'left'">
                </th>
                <th pResizableColumn scope="col" [pSortableColumn]="col.name" [style.width]="col.width" pFrozenColumn
                    [frozen]="((tableConfig.leftFreezeUptoColumn && tableConfig.leftFreezeUptoColumn > i) || (rightFreezeColums && rightFreezeColums <= i))"
                    [alignFrozen]="tableConfig.leftFreezeUptoColumn >i?'left':(rightFreezeColums <= i)?'right':''"
                    (click)="sort($event,col.name)" *ngFor="let col of columns let i = index;"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''" style="overflow:hidden">
                    <span [innerHTML]="col.label | translate"></span>
                    <p-sortIcon [field]="col.name" *ngIf="(tableConfig.sorting ==='No'?'false':'true')"></p-sortIcon>
                </th>

                <th *ngIf="tableConfig.detailPageNavigation ==='click_on_edit_icon'" style="width:5rem">
                </th>

            </tr>
        </ng-template>

        <!-- rowGroup - subHeader -->

        <ng-template pTemplate="groupheader" let-data let-rowIndex="rowIndex" let-expanded="expanded">
            <tr pRowGroupHeader>
                <td colspan="5">
                    <!-- row-group - Expansion -->
                    <button *ngIf="tableConfig.rowGroup ==='expandable_row_grouping'" type="button" pButton pRipple
                        [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    <span class="font-bold ml-2"
                        [innerHTML]="(data[subHeader[0]] && data[subHeader[1]])? data[subHeader[0]][subHeader[1]]:data[subHeader[0]]"></span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="{{tableConfig.rowGroup ==='expandable_row_grouping'?'rowexpansion':'body'}}" let-data
            let-columns="columns" let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
            <tr [ngClass]="((tableConfig.rowSpacing ==='small' && tableConfig.tableStyle ==='style_1')?'margin-sm':(tableConfig.rowSpacing ==='medium' && tableConfig.tableStyle ==='style_1')?'margin-md':(tableConfig.rowSpacing ==='large' && tableConfig.tableStyle ==='style_1')?'margin-lg':'')"
                class="{{tableConfig.rowHeight}} {{tableConfig.borderStyle}} {{((tableConfig.hoverStyle ==='line')?'border-line':(tableConfig.hoverStyle ==='box')?'border-box':'')}}">
                <!-- selection -Multiple -->
                <td [style.maxWidth]="'4rem'" *ngIf="tableConfig.recordSelection ==='multiple_records'"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''"
                    [style.borderBottom]="tableConfig.striped && tableConfig.tableStyle === 'style_2'? '1px solid #e3e5e7':''"
                    pFrozenColumn [frozen]="tableConfig.leftFreezeUptoColumn>0" [alignFrozen]="'left'" class="record-selection">
                    <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </td>

                <!-- selection - Single -->
                <td [style.maxWidth]="'4rem'" *ngIf="tableConfig.recordSelection ==='single_record_only'"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''"
                    [style.borderBottom]="tableConfig.striped && tableConfig.tableStyle === 'style_2'? '1px solid #e3e5e7':''"
                    pFrozenColumn [frozen]="tableConfig.leftFreezeUptoColumn>0" [alignFrozen]="'left'" class="record-selection">
                    <p-tableRadioButton [value]="data"></p-tableRadioButton>
                </td>

                <!-- rowGroup-row Span -->

                <td *ngIf="tableConfig.rowGroup ==='rowspan_grouping'" [style.maxWidth]="'15rem'"
                    [attr.rowspan]="rowspan"
                    [innerHTML]="(data[subHeader[0]] && data[subHeader[1]])? data[subHeader[0]][subHeader[1]]:data[subHeader[0]]"
                    pFrozenColumn [frozen]="tableConfig.leftFreezeUptoColumn>0" [alignFrozen]="'left'">
                </td>

                <td *ngFor="let col of columns let i = index;" pFrozenColumn [style.width]="col.width"
                    style="overflow:hidden" [frozen]="(tableConfig.leftFreezeUptoColumn >i) || (rightFreezeColums <= i)"
                    (click)="!tableConfig.inlineEditing && tableConfig.detailPageNavigation === 'click_of_the_row' && onUpdate(data['sid'])"
                    [alignFrozen]="tableConfig.leftFreezeUptoColumn >i?'left':(rightFreezeColums <= i)?'right':''"
                    [style.borderRight]="tableConfig.showGridlines ? '1px solid #e3e5e7':''"
                    [style.borderBottom]="tableConfig.striped && tableConfig.tableStyle === 'style_2'? '1px solid #e3e5e7':''"
                    class={{col.name}}
                    [ngClass]="(conditionalFormatting(col.conditionalStyling, data[col.name])? (col.conditionalStyling[data[col.name]]).class:'')">

                    
                    <span *ngIf="!tableConfig.inlineEditing"
                        class="{{col.conditionalStyling?.hasOwnProperty([data[col.name]])?'conditional conditional-container':''}} ellipsis white-space-nowrap">
                        <span *ngIf="col.conditionalStyling?.hasOwnProperty([data[col.name]])"
                            class="{{(col.conditionalStyling[data[col.name]].style.icon)}} conditional-icon">
                        </span>
                        <span
                            *ngIf="(!col.conditionalStyling?.hasOwnProperty([data[col.name]])) || (col.conditionalStyling?.hasOwnProperty([data[col.name]]) && col.conditionalStyling[data[col.name]].style.showText)">
                            <ng-container
                               *ngTemplateOutlet="(col.formatDisplay)?formattedElements:(col.multipleValues)? multiple : tableElements; context: { col: col, data:data }">
                            </ng-container>
                        </span>
                    </span>
                  <span *ngIf="isMobile &&tableConfig.showLabel && tableConfig.viewAs ==='card'" class="header-label ellipsis white-space-nowrap"> {{col.label}}</span>
                </td>
                <td *ngIf="tableConfig.detailPageNavigation ==='click_on_edit_icon'"
                    style="align-self:center;width:5rem">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onUpdate(data['id'])"
                        class="p-button-rounded p-button-text"></button>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" [innerHTML]="tableConfig.emptymessage ? tableConfig.emptymessage:'No records found'">
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>

<!-- Multiple Elements -->

<ng-template #multiple let-col="col" let-data="data" let-type="col.uiType">

    <span [innerHTML]="onFormatMultipleValues(type,data[col.name])"></span>

</ng-template>

 <!-- Formatted Elements -->
    <ng-template #formattedElements let-col="col" let-data="data" let-type="col.uiType">

        <span [innerHTML]="(getFormattedContent(col,data))|translate"></span>

    </ng-template>


<!-- Table Elements -->
<ng-template #tableElements let-col="col" let-data="data" let-type="col.uiType">

    <span
        *ngIf="formattableElements.includes(type) || (col.fieldType === 'string' && type !=='link') || col.fieldType === 'any' || type =='checkboxgroup'"
       [innerHTML]="(onFormatColumns(col,data))|translate">
    </span>

    <img *ngIf="type === GRID_ELEMENTS.IMAGE" [src]="data[col.name]" alt="image" [ngStyle]="" />

    <a *ngIf="type === GRID_ELEMENTS.LINK" [href]="data[col.name]" [textContent]="'Link'"></a>

    <i *ngIf="type === GRID_ELEMENTS.ICON" class="data[col.name]"></i>

    <span *ngIf="type === GRID_ELEMENTS.BOOLEAN ||  col.fieldType === GRID_ELEMENTS.BOOLEAN ">
        <i *ngIf="data[col.name] === true || data[col.name] === 'yes'" class="pi pi-check text-success mr-2"></i>
        <i *ngIf="data[col.name] === false|| data[col.name] === 'no'" class="pi pi-times text-danger"></i>
    </span>

    <p-tag *ngIf="type === GRID_ELEMENTS.TAG" value="{{data[col.name]}}"></p-tag>

</ng-template>
</div>
